.main {
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 90px 0 0;
  flex: 1 1 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1199px) {
  .main {
    padding: 40px 14px 55px;
    background-image: url(../../images/mobileBG.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    justify-content: flex-start;
  }
}