.header {
  max-width: 1140px;
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 1199px) {
  .header {
    padding: 14px;
    justify-content: center;
    align-items: center;
  }
}