.footer__copyright {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
}

@media screen and (max-width: 1199px) {
  .footer__copyright {
    align-self: center;
    align-items: flex-start;
    max-width: 270px;
    width: 100%;
  }
}