.footer__menu-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 136px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
  .footer__menu-items {
    max-height: 136px;
  }
}