.footer {
  padding: 55px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 1140px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1199px) {
  .footer {
    padding: 45px 15px 60px;
  }
}