.page__container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  background-image: url(../../../images/mainBG.svg);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 40px;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .page__container {
    background-image: none;
    padding: 0;
  }
}